button {
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: var(--green);
  color: var(--text-title);
  font-family: inherit;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: var(--red);
  }

  &:focus {
    outline: 1px solid var(--red);
  }
}
