.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 72px;

  position: relative;
  margin-top: 16px;
  border-top: 2px solid var(--border);
  background: var(--shape);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Altura da borda */
  background: linear-gradient(90deg, var(--border), var(--red) 70%, var(--green));
}
