.container {
  height: 100dvh;
  padding-top: 72px;
  background: var(--background);
  color: var(--text-title);
}

.wrapper-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 32px;
  gap: 24px;
}

app-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

