.container {
  height: auto;
  min-height: calc(100dvh - 88px);
  padding-top: 72px;
  background: var(--background);
  color: var(--text-title);
}

form {
  padding: 32px 32px 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.search-input {
  width: 100%;
  padding: 16px;
  max-width: 435px;

  color: var(--text-body);
  font-size: 1.125rem;

  border-radius: 6px;
  background: var(--shape);
  border: 1px solid var(--border);

  -webkit-box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);
  -moz-box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);
  box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);

  &:focus {
    outline: 1px solid var(--red);
  }
}

select {
  width: 100%;
  padding: 16px;
  max-width: 435px;

  color: var(--text-body);
  font-size: 1.125rem;

  border-radius: 6px;
  background: var(--shape);
  border: 1px solid var(--border);

  -webkit-box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);
  -moz-box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);
  box-shadow: 0px 6px 30px 0px rgba(37,37,41,0.6);

  &:focus {
    outline: 1px solid var(--red);
  }
}

.wrapper-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 32px;
  gap: 24px;
}

app-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

